/* Profile */

.profile_name {
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 42px;
    font-size: 38px;
    letter-spacing: 0.1em;
}

.profile_image {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 52px;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_description {
    text-align: center;
    font-size: 18px;
    width: 340px;
    margin: auto;
    border-radius: 8px;
    padding: 8px;
    font-weight: lighter;
}

.profile_back {
    background-color: #3B4254;
    border-radius: 8px;
    padding: 10px;
}


/* Works */

.works_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 42px;
    flex-wrap: wrap;
}

.work {
    cursor: pointer;
    width: 47%;
    border-radius: 8px;
    overflow: hidden;
    background-color: hsl(223, 18%, 26%);
    box-shadow: 0 2px 2px hsl(223, 15%, 12%);
    transition: 0.1s all ease-in-out;
    margin-bottom: 36px;
}

.work:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px hsl(223, 15%, 12%);
}

.work-image {
    width: 100%;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
  }

  .work-image-img {
    width: 100%;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
  }

  .work-text {
    padding: 12px 18px;
  }
  
  .work-text-name {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 18px;
  }
  
  .work-text-summary {
    overflow: hidden;
    width: 100%;
    height: calc(width * 1.75);
    font-size: 14px;
    color: hsl(223, 15%, 80%);
    font-weight: normal;
    margin-bottom: 12px;
}

@media screen and (max-width: 475px) {
    .work-container {
      display: block;
    }
    .work {
      width: 100%;
      display: block;
    }
  }
