/* Profile */

.profile_name {
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 42px;
    font-size: 38px;
    letter-spacing: 0.1em;
}

.profile_image {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 52px;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_description {
    text-align: center;
    font-size: 18px;
    width: 340px;
    margin: auto;
    border-radius: 8px;
    padding: 8px;
    font-weight: lighter;
}

.profile_back {
    background-color: #3B4254;
    border-radius: 8px;
    padding: 10px;
}


/* Works */



@media screen and (max-width: 475px) {
    .work-container {
      display: block;
    }
    .work {
      width: 100%;
      display: block;
    }
  }
