* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding-top: 14px;
    background-color: hsl(223, 21%, 17%);
    color: white;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
}

nav {
    display: flex;
    width: 100%;
    top: 0;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    position: fixed;
    background-color: hsl(233, 21%, 17%);
    
}

nav ul {
    
    flex: 1;
    text-align: center; 
}

nav ul li {
    
    border-bottom: 1px solid rgb(255, 255, 255);
    
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-weight: 500;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
}



h1,
h2,
h3,
h4 {
  color: white;
}

p {
    line-height: 1.6em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    /* word-break: break-all; */
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    opacity: 0.8;
}

main {
    margin-top: 90px;
}

footer {
    padding-bottom: 18px;
}

.container {
    max-width: 680px;
    margin: auto;
    padding-right: 14px;
    padding-left: 14px;
}

.page_section {
    padding-top: 12px;
    padding-bottom: 42px;
}

.align-center {
    text-align: center;
}

hr {
    border: 4px solid white;
    border-radius: 2px;
    margin-left: 29.5%;
    margin-right: 10.5%;
    width: 41.5%;
    text-align: center;

  }


@media only screen and (max-width: 450px) {
    hr {
        width: 90%;
        margin: auto;
    }
}

