* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 8px;
    padding-top: 14px;
    background-color: hsl(223, 21%, 17%);
    color: #DEE4EA;
}

.align-center {
    text-align: center;
}

.container {
    max-width: 785px;
    margin: auto;
    padding-right: 14px;
    padding-left: 14px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
}
.a:hover {
    opacity: 0.8;
}
.a:active {
    color: rgb(255, 255, 255);
}

.nav_header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.nav_header p {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-right: 10px;
    color: #FCA6D1;
}

.nav_image {
    width: 40px;
    border-radius: 50%;
    margin-right: 25px;
}

@media only screen and (max-width: 450px) {
    .nav_header p {
        font-size: 15px;
        margin-right: 5px;
    }
    .nav_image {
        width: 30px;
        border-radius: 50%;
        margin-right: 18px;
    }
}

/* Page section */

.page_section {
    margin-bottom: 50px;
}

.page_header {
    font-size: 25px;
    color: #FCA6D1;
    line-height: 70px;
}

.page_parag {
    font-size: 19px;
    line-height: 30px;
}

@media only screen and (max-width: 450px) {
    .page_parag {
        font-size: 15px;
        line-height: 25px;   
    }
    .page_header {
        font-size: 25px;
        color: #FCA6D1;
        line-height: 70px;
    }
}

/* grinds */

.grind_section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.grind  {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 47%;
    border-radius: 10px;
    margin-bottom: 50px;
}

.grind:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px hsl(223, 15%, 12%);
}

.grind img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.grind_container {
    padding: 2px 16px;
}

.grind_container h3 {
    color: #FCA6D1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grind_container p {
    margin-bottom: 20px;
    color: #DEE4EA;
}

@media only screen and (max-width: 450px){
    .grind_section {
        display: block;
    }
    .grind {
        width: 100%;
    }
    .grind_container h3 {
        font-size: 17px;
    }
    .grind_container p {
        font-size: 15px;
    }
}

/* hr */

.container hr {
    display: block;
    height: 1px;
    background-color: white;
    border: 0;
    margin-bottom: 25px;
}


/* footer */
footer {
    padding-bottom: 18px;
}