* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 8px;
    padding-top: 14px;
    background-color: hsl(223, 21%, 17%);
    color: #DEE4EA;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  color: #DEE4EA;
}

p {
    line-height: 1.3em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    /* word-break: break-all; */
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.a {
    display: inline;
}
.a:hover {
    opacity: 0.8;
}
.a:active {
    color: white;
}

main {
    margin-top: 55px;
}

footer {
    padding-bottom: 18px;
}

.container {
    max-width: 785px;
    margin: auto;
    padding-right: 14px;
    padding-left: 14px;
}

.page_section {
    padding-top: 12px;
    padding-bottom: 42px;
    font-size: 20px;
    font-weight: 100;
    
}



.align-center {
    text-align: center;
}



.container hr {
    display: block;
    height: 1px;
    background-color: white;
    border: 0;
    margin-bottom: 35px;
}

.hr1 {
    margin-bottom: 35px;
}

.hr2 {
    margin-top: 15px;
}


@media only screen and (max-width: 450px) {
    hr {
        width: 100%;
        margin: auto;
    }
    .hr2 {
        margin-bottom: -.5rem;
    }
    .page_section {
        font-size: 15px;
    }
}

